<div class="hero-unit">
    <h1>FoxyMelody Digital Distribution</h1>
  <p>Your music on iTunes</p>
  <p>
  	<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large pull-right"%>
   
     
    </a>
  </p>

</div>





